@mixin search-box-480 {
    /*SEARCH BOX*/

    /*SEARCH BOX*/
}

@mixin search-box-640 {
    /*SEARCH BOX*/

    /*SEARCH BOX*/
}

@mixin search-box-768 {
    /*SEARCH BOX*/
    .search_box {
        padding: 64px 74px 86px 74px;
        margin-bottom: 80px;
    }

    .search_box .H1 {
        margin-bottom: 35px;
    }

    .search_row {
        flex-direction: row;
    }

    .search_row input[type=text] {
        height: 60px;
        flex: 1 1 auto;
    }

    .search_row .btn {
        margin: 0 0 0 -6px;
        padding-left: 60px;
        padding-right: 60px;
    }

    @media (hover: hover) {

    }

    /*SEARCH BOX*/
}

@mixin search-box-1024 {
    /*SEARCH BOX*/

    .centre.site_grid .left_menu .search_box {
        display: none;
    }

    .centre.site_grid .content .search_box {
        display: flex;
    }
    /*SEARCH BOX*/
}

@mixin search-box-1332 {
    /*SEARCH BOX*/

    /*SEARCH BOX*/
}