@mixin search-box-480 {
    /*SEARCH BOX*/

    /*SEARCH BOX*/
}

@mixin search-box-640 {
    /*SEARCH BOX*/
    .centre.site_grid .search_box:nth-child(1) {
        margin-top: 0;
    }

    .centre.site_grid .search_box {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: var(--section-bottom);
    }

    .centre.site_grid .search_box-bg {
        border-radius: var(--border-radius);
    }
    /*SEARCH BOX*/
}

@mixin search-box-768 {
    /*SEARCH BOX*/
    .search_box {
        padding: 64px 50px 86px 50px;
        margin-bottom: 80px;
    }

    .search_box .H1 {
        margin-bottom: 35px;
    }

    .search_row {
        flex-direction: row;
    }

    .search_row input[type=text] {
        font-size: 18px;
        height: 60px;
        flex: 1 1 auto;
    }

    .search_row .btn {
        margin: 0 0 0 -6px;
        padding-left: 55px;
        padding-right: 55px;
    }

    /* ------ hover ------ */
    /* ------ hover ------ */

    /*SEARCH BOX*/
}

@mixin search-box-1024 {
    /*SEARCH BOX*/

    .centre.site_grid .left_menu .search_box {
        display: none;
    }

    .centre.site_grid .content .search_box {
        display: flex;
    }
    /*SEARCH BOX*/
}

@mixin search-box-1332 {
    /*SEARCH BOX*/

    /*SEARCH BOX*/
}