@mixin header-480 {
    /*HEADER*/
    .site_header {
        background-color: red;
    }
    /*HEADER*/
}

@mixin header-640 {
    /*HEADER*/
    .site_header {
        background-color: #f7ff00;
    }
    /*HEADER*/
}

@mixin header-768 {
    /*HEADER*/
    .site_header {
        background-color: #00ff15;
    }
    /*HEADER*/
}

@mixin header-1024 {
    /*HEADER*/
    .site_header {
        background-color: #003cff;
    }
    /*HEADER*/
}

@mixin header-1332 {
    /*HEADER*/
    .site_header {
        background-color: #ff00c3;
    }
    /*HEADER*/
}