/*BASE*/

BODY, HTML {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    min-width: 360px;
    height: 100%;
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--site-bg-color);
}

body.overflow {
    overflow: hidden;
}

main {
    flex: 1 0 auto;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=time],
textarea {
    color: var(--text-color);
    font-size: 16px;
    padding: 0 20px;
    height: 50px;
    border: 1px solid var(--border-color);
    background-color: var(--base-color-1);
    border-radius: var(--border-radius);
    transition: 0.3s;
}

textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    resize: none;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=tel]:hover,
input[type=time]:hover,
textarea:hover {
    background-color: var(--accent-color-7);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=time]:focus,
textarea:focus {
    outline: none;
    background-color: var(--accent-color-7);
}

*.error > input[type=text],
*.error > input[type=email],
*.error > input[type=number],
*.error > input[type=password],
*.error > input[type=tel],
*.error > input[type=time],
*.error > textarea,
input[type=text].error,
input[type=email].error,
input[type=number].error,
input[type=password].error,
input[type=tel].error,
input[type=time].error,
textarea.error {
    border-color: var(--additional-1);
}

input[type=text]:disabled,
input[type=email]:disabled,
input[type=number]:disabled,
input[type=password]:disabled,
input[type=tel]:disabled,
input[type=time]:disabled,
textarea:disabled {
    pointer-events: none;
    background-color: var(--base-color-2);
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=tel]::placeholder,
input[type=time]::placeholder,
textarea::placeholder {
    color: var(--base-color-5);
}

a {
    color: var(--accent-color-1);
}

a:hover {
    text-decoration: none
}

article a {
    color: var(--accent-color-1);
    text-decoration: none;
    border-bottom: 1px solid var(--border-color);
    transition: 0.3s;
}

article a:hover {
    color: var(--link-color-active)
}

article ul,
article ol {
    padding-left: 26px;
}

article li {
    position: relative;
}

article ul li::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    left: -13px;
    top: 7px;
}

article ol {
    list-style: auto;
}

article li + li {
    margin-top: 6px;
}

a:active {
    color: inherit;  /* НЕ УДАЛЯТИ */
}

a.sub_title:hover {
    opacity: 0.7;
}

h1,
.H1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

h2,
.H2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 14px;
}

h3,
.H3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 12px;
}

h4,
.H4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 10px;
}

article > * {
    margin-bottom: 22px;
}

.centre {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    max-width: 1332px;
}

.close_btn {
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.close_btn::before,
.close_btn::after {
    content: "";
    width: 18px;
    height: 2px;
    background-color: var(--icon-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: background-color 0.3s;
}

.close_btn::before {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close_btn::after {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close_btn:hover::before,
.close_btn:hover::after {
    background-color: #EE3C30;;
}

.shadow {
    font-size: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(32, 30, 80, 0.4);
    z-index: 10;
}

.hidden {
    display: none !important;
}

.site_shadow-style {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(39, 53, 47, 0.70);
    backdrop-filter: blur(5px);
}

/*BASE*/
