
@mixin base-480 {
    /*BASE*/

    /*BASE*/
}

@mixin base-640 {
    /*BASE*/

    /*BASE*/
}

@mixin base-768 {
    /*BASE*/

    article > * {
        margin-bottom: 32px;
    }

    h1,
    .H1 {
        font-size: 40px;
        letter-spacing: 0.8px;
        margin-bottom: 24px;
    }

    h2,
    .H2 {
        font-size: 32px;
        margin-bottom: 20px;
    }

    h3,
    .H3 {
        font-size: 22px;
        margin-bottom: 14px;
    }

    h4,
    .H4 {
        font-size: 20px;
        margin-bottom: 12px;
    }

    /*btn*/
    .btn {
        font-size: 16px;
        min-height: 44px;
    }
    .btn.big_btn {
        font-size: 20px;
        padding: 8px 30px;
        min-height: 60px;
    }
    /*btn*/

    /*BASE*/
}

@mixin base-1024 {
    /*BASE*/
    :root {
        --section-bottom: 80px;
    }

    .centre.site_grid {
        display: flex;
    }

    .centre.site_grid > .left_menu {
        flex: 0 0 300px;
        width: 300px;
    }

    .centre.site_grid > .content {
        flex: 0 0 calc(100% - 300px);
        max-width: calc(100% - 300px);
        padding-left: 40px;
    }

    .pattern_tittle {
        margin-bottom: 30px;
    }

    .pattern_tittle .H2,
    .pattern_tittle h1 {
        font-size: 32px;
    }

    @media (hover: hover) {

        input[type=text]:hover,
        input[type=email]:hover,
        input[type=number]:hover,
        input[type=password]:hover,
        input[type=tel]:hover,
        input[type=time]:hover,
        textarea:hover {
            background-color: var(--accent-color-7);
        }

        article a:hover {
            color: var(--link-color-active)
        }

        a.sub_title:hover {
            opacity: 0.7;
        }

        .close_btn:hover::before,
        .close_btn:hover::after {
            background-color: #EE3C30;;
        }

        .btn:hover {
            color: var(--btn-text-hover);
            background-color: var(--btn-bg-hover);
            border-color: var(--btn-border-hover);
        }

        .btn.btn_outline:hover {
            color: var(--btn-text-outline-hover);
            background-color: var(--btn-bg-outline-hover);
            border-color: var(--btn-border-outline-hover);
        }

        .dropdown_short:hover .drop_arrow {
            background-color: var(--accent-color-7);
        }

        .dropdown:hover .overflow {
            background-color: var(--accent-color-7);
        }

        .dropdown UL LI A:hover {
            background-color: var(--accent-color-6);
        }

        .dropdown_short ul li a:hover {
            background-color: #e6e6e6;
            color: initial;
        }

        .dropdown_alt .drop_arrow:hover {
            background-color: var(--main-active-color);
        }

        .dropdown_alt UL LI A:hover {
            border-color: var(--accent-color-6);
        }

        .options_dropdown_list UL LI A:hover {
            color: var(--base-color-9);
        }

        .options_dropdown_tile UL LI A:hover {
            background-color: var(--accent-color-2);
            color: var(--base-color-1);
        }

        .options_dropdown_tile UL LI.disabled a:hover {
            background-color: var(--base-color-1);
            color: var(--text-color);
        }

        .dropdown.filled:hover {
            border-color: var(--accent-color-2);
        }

        .dropdown.filled:hover .overflow {
            background-color: var(--accent-color-2);
        }
    }

    /*BASE*/
}

@mixin base-1332 {
    /*BASE*/

    /*BASE*/
}