@mixin read-more-480 {
    /*READ MORE*/

    /*READ MORE*/
}

@mixin read-more-640 {
    /*READ MORE*/
  .read_more-top {
    margin-bottom: 20px;
  }

  .read_more-link {
    font-size: 16px;
  }

  .read_more-photos {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }

  .read_more-img,
  .read_more-img:nth-child(1),
  .read_more-img:nth-child(2) {
    grid-column: auto;
    padding-bottom: 55%;
  }

    /*READ MORE*/
}

@mixin read-more-768 {
    /*READ MORE*/

    /*READ MORE*/
}

@mixin read-more-1024 {
    /*READ MORE*/

  @media (hover: hover) {
    .read_more-link:hover {
      background-color: var(--accent-color-1);
      color: var(--base-color-1);
    }

    .read_more-link:hover::before {
      border-color: var(--base-color-1);
    }
  }
    /*READ MORE*/
}

@mixin read-more-1332 {
    /*READ MORE*/

    /*READ MORE*/
}