mixin dropdown(data)
    - const {name, className, list, size, style, disabled} = data;
    - let classList = ['dropdown'];
    - if(size === 'small') {classList.push('small')}
    - if(style === 'filled') {classList.push('filled')}
    - if(disabled) {classList.push('disabled')}
    - if(className) {classList.push(className)}
    div(class=classList)
        .overflow
            span= name
            button.drop_arrow
        ul
            if (list)
                each item in list
                    li
                        a(href="#")= item
            else
                li
                    a(href="#") item item 1
                    a(href="#") item item 1
                    a(href="#") item item 1
        input(type="hidden" name="payment" value="")
