@import "./services/base-adaptive";;

@import "components/header/header-adaptive";
@import "components/footer/footer-adaptive";
@import "components/search-box/search-box-adaptive";
@import "components/catalog-2-3lvl/catalog-2-3lvl-adaptive";
@import "components/last-news/last-news-adaptive";
@import "components/search-left-menu/search-left-menu-adaptive";
@import "components/grid-slider/grid-slider-adaptive";
@import "components/main-article/main-article-adaptive";
@import "components/read-more/read-more-adaptive";
@import "components/popup-box/popup-box-adaptive";
@import "components/resorts-list/resorts-list-adaptive";
@import "components/hotel-details/hotel-details-adaptive";


@media only screen and (min-width : 480px)  {
    /* -------- UI -------- */
    @include base-480;
    /* -------- COMPONENTS -------- */
    @include header-480;
    @include footer-480;
    @include search-box-480;
    @include catalog-2-3lvl-480;
    @include last-news-480;
    @include search-left-menu-480;
    @include grid-slider-480;
    @include main-article-480;
    @include read-more-480;
    @include popup-box-480;
    @include resorts-list-480;
    @include hotel-details-480;
}

@media only screen and (min-width : 640px)  {
    /* -------- UI -------- */
    @include base-640;
    /* -------- COMPONENTS -------- */
    @include header-640;
    @include footer-640;
    @include search-box-640;
    @include catalog-2-3lvl-640;
    @include last-news-640;
    @include search-left-menu-640;
    @include grid-slider-640;
    @include main-article-640;
    @include read-more-640;
    @include popup-box-640;
    @include resorts-list-640;
    @include hotel-details-640;
}

@media only screen and (max-width : 640px) {
    article img {
        width: 100% !important;
    }
}

@media only screen and (min-width : 768px)  {
    /* -------- UI -------- */
    @include base-768;
    /* -------- COMPONENTS -------- */
    @include header-768;
    @include footer-768;
    @include search-box-768;
    @include catalog-2-3lvl-768;
    @include last-news-768;
    @include search-left-menu-768;
    @include grid-slider-768;
    @include main-article-768;
    @include read-more-768;
    @include popup-box-768;
    @include resorts-list-768;
    @include hotel-details-768;
}

@media only screen and (min-width : 1024px) {
    /* -------- UI -------- */
    @include base-1024;
    /* -------- COMPONENTS -------- */
    @include header-1024;
    @include footer-1024;
    @include search-box-1024;
    @include catalog-2-3lvl-1024;
    @include last-news-1024;
    @include search-left-menu-1024;
    @include grid-slider-1024;
    @include main-article-1024;
    @include read-more-1024;
    @include popup-box-1024;
    @include resorts-list-1024;
    @include hotel-details-1024;
}

@media only screen and (min-width : 1332px) {
    /* -------- UI -------- */
    @include base-1332;
    /* -------- COMPONENTS -------- */

    @include header-1332;
    @include footer-1332;
    @include search-box-1332;
    @include catalog-2-3lvl-1332;
    @include last-news-1332;
    @include search-left-menu-1332;
    @include grid-slider-1332;
    @include main-article-1332;
    @include read-more-1332;
    @include popup-box-1332;
    @include resorts-list-1332;
    @include hotel-details-1332;
}

@media only screen and (min-width : 1364px) {
    .grid_slider-slick {
        width: calc(100% + 20px);
        margin-right: -20px;
    }
}