/*BTN*/
.btn {
    color: var(--btn-text);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 34px;
    padding: 5px 14px;
    background-color: var(--btn-bg);
    border: 2px solid var(--btn-border);
    border-radius: var(--border-radius);
    transition: 0.3s;
}

.btn:hover {
    color: var(--btn-text-hover);
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-border-hover);
}

.btn:active {
    color: var(--btn-text-active);
    background-color: var(--btn-bg-active);
    border-color: var(--btn-border-active);
}

.btn.btn_outline {
    color: var(--btn-text-outline);
    background-color: var(--btn-bg-outline);
    border-color: var(--btn-border-outline);
}

.btn.btn_outline:hover {
    color: var(--btn-text-outline-hover);
    background-color: var(--btn-bg-outline-hover);
    border-color: var(--btn-border-outline-hover);
}

.btn.btn_outline:active {
    color: var(--btn-text-outline-active);
    background-color: var(--btn-bg-outline-active);
    border-color: var(--btn-border-outline-active);
}

.btn:disabled,
.btn.disabled {
    pointer-events: none;
    opacity: 0.5;
}
.btn.big_btn {
    font-size: 16px;
    padding: 8px 24px;
    min-height: 44px;
}

.btn.small_btn {
    font-size: 14px;
    font-weight: 400;
    padding: 4px 20px;
    min-height: 34px;
}

/*BTN*/
