@mixin last-news-480 {
    /*LAST NEWS*/

    /*LAST NEWS*/
}

@mixin last-news-640 {
    /*LAST NEWS*/

    /*LAST NEWS*/
}

@mixin last-news-768 {
    /*LAST NEWS*/

    /*LAST NEWS*/
}

@mixin last-news-1024 {
    /*LAST NEWS*/

    .left_menu .last_news {
        display: flex;
    }

    .content  .last_news {
        display: none;
    }

    .last_news .pattern_tittle .H2 {
        font-size: 22px;
    }

    .last_news-slider:not(.slick-initialized) .last_news-item {
        flex: 0 1 auto;
        margin-right: 0;
    }

    .last_news-slider {
        flex-direction: column;
        margin: -6px -12px -15px -12px;
        padding: 6px 12px 15px 12px;
        width: calc(100% + 24px);
        max-width: calc(100% + 24px);
    }

    .last_news-item {
        flex: 0 1 auto;
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
        box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.0);
        transition: 0.3s;
    }

    .last_news-item figcaption {
        padding: 12px 16px;
    }

    .last_news-item time {
        font-size: 14px;
    }

    .last_news-title {
        font-size: 16px;
    }

    @media (hover: hover) {
        .last_news-title:hover {
            color: var(--accent-color-1);
        }

        .last_news-item:hover {
            box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
        }
    }
    /*LAST NEWS*/
}

@mixin last-news-1332 {
    /*LAST NEWS*/

    /*LAST NEWS*/
}