@media only screen and (min-width: 480px) {
  /* -------- UI -------- */
  /*BASE*/
  /*BASE*/
  /*BTN*/
  /*BTN*/
  /*DROPDOWN*/
  /*DROPDOWN*/
  /*STYLED INPUT*/
  /*STYLED INPUT*/
  /* -------- COMPONENTS -------- */
  /*HEADER*/
  .site_header {
    background-color: red;
  }

  /*HEADER*/
  /*FOOTER*/
  .site_footer {
    background-color: #e38080;
  }

  /*FOOTER*/
}
@media only screen and (min-width: 640px) {
  /* -------- UI -------- */
  /*BASE*/
  /*BASE*/
  /*BTN*/
  /*BTN*/
  /*DROPDOWN*/
  /*DROPDOWN*/
  /*STYLED INPUT*/
  /*STYLED INPUT*/
  /* -------- COMPONENTS -------- */
  /*HEADER*/
  .site_header {
    background-color: #f7ff00;
  }

  /*HEADER*/
  /*FOOTER*/
  /*FOOTER*/
}
@media only screen and (min-width: 768px) {
  /* -------- UI -------- */
  /*BASE*/
  article > * {
    margin-bottom: 32px;
  }

  h1,
.H1 {
    font-size: 40px;
    letter-spacing: 0.8px;
    margin-bottom: 24px;
  }

  h2,
.H2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  h3,
.H3 {
    font-size: 22px;
    margin-bottom: 14px;
  }

  h4,
.H4 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  /*BASE*/
  /*BTN*/
  .btn {
    font-size: 16px;
    min-height: 44px;
  }

  .btn.big_btn {
    font-size: 20px;
    padding: 8px 30px;
    min-height: 60px;
  }

  /*BTN*/
  /*DROPDOWN*/
  /*DROPDOWN*/
  /*STYLED INPUT*/
  /*STYLED INPUT*/
  /* -------- COMPONENTS -------- */
  /*HEADER*/
  .site_header {
    background-color: #00ff15;
  }

  /*HEADER*/
  /*FOOTER*/
  /*FOOTER*/
}
@media only screen and (min-width: 1024px) {
  /* -------- UI -------- */
  /*BASE*/
  /*BASE*/
  /*BTN*/
  /*BTN*/
  /*DROPDOWN*/
  /*DROPDOWN*/
  /*STYLED INPUT*/
  /*STYLED INPUT*/
  /* -------- COMPONENTS -------- */
  /*HEADER*/
  .site_header {
    background-color: #003cff;
  }

  /*HEADER*/
  /*FOOTER*/
  /*FOOTER*/
}
@media only screen and (min-width: 1332px) {
  /* -------- UI -------- */
  /*BASE*/
  /*BASE*/
  /*BTN*/
  /*BTN*/
  /*DROPDOWN*/
  /*DROPDOWN*/
  /*STYLED INPUT*/
  /*STYLED INPUT*/
  /* -------- COMPONENTS -------- */
  /*HEADER*/
  .site_header {
    background-color: #ff00c3;
  }

  /*HEADER*/
  /*FOOTER*/
  /*FOOTER*/
}