@media only screen and (min-width: 480px) {
  /* -------- UI -------- */
  /*BASE*/
  /*BASE*/
  /* -------- COMPONENTS -------- */
  /*SITE HEADER*/
  /*SITE HEADER*/
  /*SITE FOOTER*/
  /*SITE FOOTER*/
  /*SEARCH BOX*/
  /*SEARCH BOX*/
  /*CATALOG 2-3 LVL*/
  /*CATALOG 2-3 LVL*/
  /*LAST NEWS*/
  /*LAST NEWS*/
  /*SEARCH LEFT MENU*/
  /*SEARCH LEFT MENU*/
  /*GRID SLIDER*/
  /*GRID SLIDER*/
  /*MAIN ARTICLE*/
  /*MAIN ARTICLE*/
  /*READ MORE*/
  /*READ MORE*/
  /*POPUP BOX*/
  /*POPUP BOX*/
  /*RESORTS LIST*/
  /*RESORTS LIST*/
  /*HOTEL DETAIL*/
  .hotel_gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  /*HOTEL DETAIL*/
  /*ARTICLES LIST*/
  /*ARTICLES LIST*/
  /*INTERESTED*/
  /*INTERESTED*/
  /*SEARCH RESULTS*/
  .search_results-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /*SEARCH RESULTS*/
}
@media only screen and (min-width: 640px) {
  /* -------- UI -------- */
  /*BASE*/
  .up {
    font-size: 10px;
    text-transform: uppercase;
    color: var(--accent-color-1);
    text-align: center;
    text-decoration: none;
    padding-top: 21px;
    width: 40px;
    height: 40px;
    bottom: 78px;
    left: auto;
    transform: unset;
    right: 16px;
    opacity: 1;
    visibility: visible;
  }

  /*BASE*/
  /* -------- COMPONENTS -------- */
  /*SITE HEADER*/
  /*SITE HEADER*/
  /*SITE FOOTER*/
  .site_footer {
    padding-bottom: 48px;
  }

  .bottom_menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  .reservation_box .centre {
    justify-content: space-around;
  }

  /*SITE FOOTER*/
  /*SEARCH BOX*/
  .centre.site_grid .search_box:nth-child(1) {
    margin-top: 0;
  }

  .centre.site_grid .search_box {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: var(--section-bottom);
  }

  .centre.site_grid .search_box-bg {
    border-radius: var(--border-radius);
  }

  /*SEARCH BOX*/
  /*CATALOG 2-3 LVL*/
  /*CATALOG 2-3 LVL*/
  /*LAST NEWS*/
  /*LAST NEWS*/
  /*SEARCH LEFT MENU*/
  /*SEARCH LEFT MENU*/
  /*GRID SLIDER*/
  .grid_slider-slick.slick-initialized + .grid_slider-swipe {
    display: none;
  }

  /*GRID SLIDER*/
  /*MAIN ARTICLE*/
  /*MAIN ARTICLE*/
  /*READ MORE*/
  .read_more-top {
    margin-bottom: 20px;
  }

  .read_more-link {
    font-size: 16px;
  }

  .read_more-photos {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    margin-bottom: 20px;
  }

  .read_more-img,
.read_more-img:nth-child(1),
.read_more-img:nth-child(2) {
    grid-column: auto;
    padding-bottom: 55%;
  }

  /*READ MORE*/
  /*POPUP BOX*/
  /*POPUP BOX*/
  /*RESORTS LIST*/
  /*RESORTS LIST*/
  /*HOTEL DETAIL*/
  /*HOTEL DETAIL*/
  /*ARTICLES LIST*/
  /*ARTICLES LIST*/
  /*INTERESTED*/
  /*INTERESTED*/
  /*SEARCH RESULTS*/
  /*SEARCH RESULTS*/
}
@media only screen and (max-width: 640px) {
  article img {
    width: 100% !important;
  }
}
@media only screen and (min-width: 768px) {
  /* -------- UI -------- */
  /*BASE*/
  article > * {
    margin-bottom: 32px;
  }

  h1,
.H1 {
    font-size: 40px;
    letter-spacing: 0.8px;
    margin-bottom: 24px;
  }

  h2,
.H2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  h3,
.H3 {
    font-size: 22px;
    margin-bottom: 14px;
  }

  h4,
.H4 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  /*btn*/
  .btn {
    font-size: 16px;
    min-height: 44px;
  }

  .btn.big_btn {
    font-size: 20px;
    padding: 8px 30px;
    min-height: 60px;
  }

  /*btn*/
  .breadcrumbs {
    margin-top: -25px;
    margin-bottom: 40px;
  }

  /*BASE*/
  /* -------- COMPONENTS -------- */
  /*SITE HEADER*/
  .site_header {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 40px;
  }

  .header_info-row {
    display: block;
    background-color: var(--accent-color-6);
    padding: 6px 0;
  }

  .header_info-row .centre {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_info-email {
    font-size: 14px;
    color: var(--accent-color-1);
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s;
  }

  .header_info-email .icon {
    fill: var(--accent-color-1);
    margin-right: 10px;
    transition: 0.3s;
  }

  .top_menu-1lvl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .top_menu-1lvl li {
    margin: 0 10px;
  }

  .top_menu-1lvl a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    transition: 0.3s;
  }

  .toggle_lang-deck {
    position: relative;
  }

  .selected_lang {
    font-size: 14px;
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 28px;
    position: relative;
    transition: 0.3s;
  }

  .selected_lang .icon {
    margin-right: 12px;
    width: 20px;
    height: 20px;
  }

  .selected_lang::before,
.selected_lang::after {
    content: "";
    width: 1px;
    height: 7px;
    background-color: var(--accent-color-1);
    position: absolute;
    top: 50%;
    right: 8px;
    transform-origin: bottom;
    transition: 0.3s;
  }

  .selected_lang::before {
    transform: translateY(-50%) rotate(-45deg);
  }

  .selected_lang::after {
    transform: translateY(-50%) rotate(45deg);
  }

  .toggle_lang-deck.active .selected_lang::before {
    transform-origin: top;
    transform: translateY(-50%) rotate(45deg);
  }

  .toggle_lang-deck.active .selected_lang::after {
    transform-origin: top;
    transform: translateY(-50%) rotate(-45deg);
  }

  .toggle_lang-list {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    position: absolute;
    z-index: 3;
    background-color: var(--base-color-1);
    padding: 5px;
    border: 1px solid var(--border-color);
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }

  .toggle_lang-deck.active .toggle_lang-list {
    opacity: 1;
    visibility: visible;
  }

  .toggle_lang-list li + li {
    margin-top: 5px;
  }

  .toggle_lang-list a {
    text-decoration: none;
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    transition: 0.3s;
  }

  .top_header {
    align-items: flex-start;
    height: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    min-height: 95px;
    position: relative;
    top: auto;
    left: auto;
    z-index: 0;
  }

  .top_header.shadow {
    box-shadow: none;
  }

  .top_mob-logo {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
  }

  .top_header-text {
    flex: 0 1 auto;
    padding: 0 0 0 16px;
  }

  .top_header-btn {
    display: none;
  }

  .top_header .reservation {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
  }

  .top_header .reservation .reservation_phones {
    justify-content: center;
  }

  .top_header .reservation .reservation_phones a {
    margin: 0 16px 6px 16px;
    transition: 0.3s;
  }

  .top_header .request_call {
    white-space: nowrap;
    display: flex;
  }

  .top_catalog > .centre {
    padding-top: 16px;
    position: relative;
  }

  .top_catalog > .centre::before {
    content: "";
    width: calc(100% - 32px);
    height: 1px;
    background-color: var(--accent-color-4);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .mob_catalog-gtn {
    display: none;
  }

  .top_catalog-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    background-color: transparent;
  }

  .top_catalog-list a {
    color: var(--text-color);
    padding: 0;
    transition: 0.3s;
  }

  .top_catalog-list > li > a > span {
    padding: 0 5px 16px 5px;
    border-bottom: 0;
    position: relative;
  }

  .top_catalog-list > li > a.active > span {
    color: var(--accent-color-1);
    border-bottom: 0;
  }

  .top_catalog-list > li > a > span::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: 0.3s;
  }

  .top_catalog-list > li > a.active > span::before {
    background-color: var(--accent-color-1);
  }

  /*SITE HEADER*/
  /*SITE FOOTER*/
  .bottom_inner {
    margin-bottom: 20px;
  }

  .bottom_menu ul a {
    font-size: 16px;
  }

  .bottom_copy {
    flex-direction: row;
  }

  .rest_treatment {
    font-size: 14px;
    flex: 0 1 33.33%;
    text-align: start;
    margin-bottom: 0;
  }

  .site_footer .contract {
    font-size: 14px;
    flex: 0 1 33.33%;
    text-align: center;
    margin-bottom: 0;
    padding: 0 5px;
  }

  .sufix-link {
    font-size: 14px;
    flex: 0 1 33.33%;
    text-align: end;
  }

  /*SITE FOOTER*/
  /*SEARCH BOX*/
  .search_box {
    padding: 64px 50px 86px 50px;
    margin-bottom: 80px;
  }

  .search_box .H1 {
    margin-bottom: 35px;
  }

  .search_row {
    flex-direction: row;
  }

  .search_row input[type=text] {
    font-size: 18px;
    height: 60px;
    flex: 1 1 auto;
  }

  .search_row .btn {
    margin: 0 0 0 -6px;
    padding-left: 55px;
    padding-right: 55px;
  }

  /* ------ hover ------ */
  /* ------ hover ------ */
  /*SEARCH BOX*/
  /*CATALOG 2-3 LVL*/
  /*CATALOG 2-3 LVL*/
  /*LAST NEWS*/
  /*LAST NEWS*/
  /*SEARCH LEFT MENU*/
  /*SEARCH LEFT MENU*/
  /*GRID SLIDER*/
  .grid_slide-img {
    padding-bottom: 65%;
  }

  .grid_slider-slide figcaption,
.grid_slider-slide .figcaption {
    padding: 12px 15px 15px 15px;
  }

  .grid_slide-time {
    font-size: 14px;
  }

  .grid_slide-title {
    font-size: 16px;
  }

  .grid_slide-text {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .grid_slide-link {
    font-size: 16px;
  }

  .grid_slide-link::before {
    width: 7px;
    height: 7px;
  }

  .grid_slider-slick.one-row {
    position: relative;
  }

  .grid_slider-slick.one-row:not(.slick-initialized) .grid_slider-slide {
    flex: 0 0 calc(33.33% - 16px);
  }

  .grid_slider-slick.one-row .grid_slider-slide {
    flex: 0 1 auto;
  }

  .grid_slider-slick.two-rows .grid_slide-img {
    padding-bottom: 82%;
  }

  .grid_slider-slick.two-rows.slick-initialized .slick-slide {
    margin-right: 16px;
  }

  .grid_slider-slick.two-rows.slick-initialized .slick-slide > div + div {
    margin-top: 16px;
  }

  .grid_slider-slick.two-rows.slick-initialized .grid_slider-slide {
    display: flex !important;
    margin-right: 0;
  }

  .grid_slider-slick.two-rows {
    position: relative;
  }

  .grid_slider-slick.two-rows:not(.slick-initialized) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    padding-right: 16px;
  }

  .grid_slider-slick.two-rows:not(.slick-initialized) .grid_slider-slide {
    margin-right: 0;
  }

  .grid_slider-slick.two-rows:not(.slick-initialized) .grid_slider-slide:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)) {
    display: none;
  }

  .grid_slider-slick.two-rows:not(.slick-initialized) {
    flex: 0 1 auto;
  }

  /*GRID SLIDER*/
  /*MAIN ARTICLE*/
  /*MAIN ARTICLE*/
  /*READ MORE*/
  /*READ MORE*/
  /*POPUP BOX*/
  .popup_box {
    border-top: none;
    overflow-y: auto;
    height: 100%;
    top: 0;
    padding-top: 100px;
    padding-bottom: 80px;
  }

  .popup {
    max-width: 480px;
    max-height: unset;
    padding: 40px 40px 50px 40px;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.35);
  }

  .popup.reservation_online {
    max-width: 760px;
  }

  .popup-inner {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: unset;
  }

  .popup_shadow {
    display: none;
  }

  .popup.popup-thanks {
    max-width: 400px;
  }

  .popup.popup-thanks .popup_text {
    margin-bottom: 0;
  }

  .close_popup {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

  .popup_text {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .popup .styled_input {
    margin-bottom: 20px;
  }

  .reservation_grid {
    display: flex;
    flex-wrap: wrap;
  }

  .reservation_grid > * {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  .reservation_grid > *:nth-child(2n+2) {
    margin-left: 20px;
  }

  /*POPUP BOX*/
  /*RESORTS LIST*/
  .resort_item + .resort_item {
    margin-top: 16px;
  }

  .resort_item > .col:nth-child(1) {
    flex: 0 0 245px;
    padding-bottom: 0;
  }

  .resort_item-img {
    margin-bottom: 0;
    height: 180px;
  }

  .resort_item > .col:nth-child(1) .rating {
    display: none;
  }

  .resort_item > .col:nth-child(1) .response-counter {
    display: none;
  }

  .resort_item > .col:nth-child(2) {
    padding: 20px;
  }

  .resort_item > .col:nth-child(2) .btn {
    display: none;
  }

  .resort_link {
    font-size: 20px;
  }

  .resort_preference {
    margin-bottom: 10px;
  }

  .resort_item > .col:nth-child(3) {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 10px;
  }

  .resort_item .rating {
    margin-bottom: 4px;
  }

  .resort_item .rating .star {
    width: 20px;
    height: 20px;
    margin: 0 2px;
  }

  .resort_item .rating .star img {
    width: 18px;
    height: 18px;
  }

  .resort_item .response-counter {
    margin-bottom: 16px;
  }

  .resort_item > .col:nth-child(3) .btn {
    padding-left: 24px;
    padding-right: 24px;
  }

  /*RESORTS LIST*/
  /*HOTEL DETAIL*/
  .details_slider {
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
  }

  .hotel_details-inner {
    width: 100%;
    margin: 0 0 40px 0;
  }

  .big_slider {
    margin-bottom: 10px;
  }

  .big_slider-img {
    padding-bottom: 63%;
  }

  .big_slider .slick-arrow {
    font-size: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--accent-color-1);
    border: none;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: 0.3s;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
  }

  .big_slider .slick-arrow.slick-disabled {
    opacity: 0;
    visibility: hidden;
  }

  .big_slider .slick-arrow.slick-next {
    left: auto;
    right: 20px;
    transform: translateY(-50%) rotate(180deg);
  }

  .big_slider .slick-arrow::before {
    content: "";
    width: 12px;
    height: 12px;
    border-bottom: 2px solid var(--base-color-1);
    border-left: 2px solid var(--base-color-1);
    position: absolute;
    top: 50%;
    left: 28px;
    transform: translateY(-50%) rotate(45deg);
  }

  .big_slider-swipe {
    display: none;
  }

  .small_slider {
    display: flex;
    padding: 0 10px 10px 10px;
    width: 100%;
    border-bottom: 1px solid var(--accent-color-4);
  }

  .small_slider:not(.slick-initialized) {
    display: flex;
    overflow: hidden;
  }

  .small_slider-item {
    flex: 0 0 100px;
    margin: 0 5px;
    height: 100px;
    width: 100px;
    border: 2px solid transparent;
    border-radius: var(--border-radius);
    background-color: var(--base-color-1);
    transition: 0.3s;
    overflow: hidden;
  }

  .small_slider-item.slick-current {
    border-color: var(--accent-color-1);
  }

  .small_slider-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s;
  }

  .small_slider-item.slick-current img {
    opacity: 0.5;
  }

  .small_slider .slick-arrow {
    font-size: 0;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: var(--accent-color-1);
    border: none;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    transition: 0.3s;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
  }

  .small_slider .slick-arrow.slick-disabled {
    opacity: 0;
    visibility: hidden;
  }

  .small_slider .slick-arrow.slick-next {
    left: auto;
    right: 20px;
    transform: translateY(-50%) rotate(180deg);
  }

  .small_slider .slick-arrow::before {
    content: "";
    width: 12px;
    height: 12px;
    border-bottom: 2px solid var(--base-color-1);
    border-left: 2px solid var(--base-color-1);
    position: absolute;
    top: 50%;
    left: 28px;
    transform: translateY(-50%) rotate(45deg);
  }

  .details_control {
    flex-direction: row;
    padding: 0;
  }

  .characteristics {
    flex: 1 1 auto;
    padding: 36px 30px 30px 30px;
    border-right: 1px solid var(--accent-color-4);
  }

  .characteristics li {
    font-size: 16px;
  }

  .characteristics li .col:nth-child(1) img {
    width: 24px;
    height: 24px;
  }

  .details_info {
    flex: 0 0 366px;
    order: 0;
    margin-bottom: 0;
    padding: 30px 30px 24px 30px;
  }

  .details_rating {
    padding: 0 0 20px 0;
    margin-bottom: 20px;
  }

  .details_rating .star {
    width: 30px;
    height: 30px;
  }

  .details_rating .star img {
    width: 26px;
    height: 26px;
  }

  .details_info-title {
    margin-bottom: 14px;
  }

  .details_phones {
    margin-bottom: 14px;
  }

  .details_phones li a {
    font-size: 20px;
  }

  .tabs_list {
    top: 0;
  }

  .tab_box {
    padding-left: 0;
    padding-right: 0;
  }

  .hotel_details-tabs {
    width: 100%;
    margin: 0;
  }

  .price_table-wrap {
    width: 100%;
    margin-right: 0;
  }

  .hotel_price-select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .select_title {
    font-size: 16px;
    margin: 0 30px 0 0;
  }

  .hotel_price-select .dropdown {
    width: 400px;
  }

  .price_table {
    font-size: 14px;
  }

  .price_table td {
    padding: 10px 15px;
  }

  .hotel_price .last_change {
    margin-top: 5px;
    font-size: 14px;
  }

  .hotel_gallery {
    width: 100%;
    margin: 0;
  }

  .promotion_banner {
    width: 100%;
    margin: 0 0 40px 0;
  }

  .promotion_banner-content {
    left: 40px;
    bottom: 60px;
  }

  .promotion_banner-title {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .promotion_banner-text {
    font-size: 18px;
  }

  .comments_list {
    width: 100%;
    margin: 0;
  }

  .comment_item {
    padding: 20px;
  }

  .comment_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .comment_top > .col:nth-child(2) {
    order: 0;
    margin-bottom: 0;
  }

  .comment_text {
    font-size: 16px;
  }

  .comment_form {
    margin: 80px 0 0 0;
    padding: 40px 40px 50px 40px;
    width: 100%;
  }

  .comment_form .pattern_tittle {
    margin-bottom: 30px;
  }

  .comment_form .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
  }

  .comment_form .styled_input {
    margin-bottom: 20px;
  }

  .comment_form .rating {
    margin-bottom: 30px;
  }

  .comment_form .rating .star {
    width: 50px;
    height: 50px;
  }

  .comment_form .rating .star img {
    width: 46px;
    height: 46px;
  }

  .comment_form .btn {
    width: auto;
    margin: 0 auto;
  }

  .details_accordion li + li {
    margin-top: 30px;
  }

  .accordion_title {
    font-size: 18px;
    padding-bottom: 16px;
  }

  .accordion_title::before,
.accordion_title::after {
    width: 20px;
    top: 11px;
    height: 2px;
  }

  .accordion_box {
    font-size: 16px;
    padding-bottom: 16px;
  }

  /*HOTEL DETAIL*/
  /*ARTICLES LIST*/
  .resort_filter {
    margin-bottom: 34px;
  }

  .resort_filter a {
    font-size: 16px;
    padding: 8px 14px;
  }

  .article_item {
    flex-direction: row;
  }

  .article_item > .col:nth-child(1) {
    flex: 0 0 300px;
  }

  .article_item > .col:nth-child(2) {
    flex: 1 1 auto;
    padding: 22px 25px 25px 25px;
  }

  .article_item-img {
    padding-bottom: 74%;
    margin-bottom: 0;
  }

  .article_item-img img {
    border-radius: 5px 0 0 5px;
  }

  .article_item time {
    font-size: 14px;
  }

  .article_item-title {
    font-size: 20px;
    font-weight: 600;
  }

  .article_item-text {
    font-size: 14px;
    -webkit-line-clamp: 3;
  }

  .article_item-link {
    font-size: 16px;
    margin-top: auto;
  }

  /*ARTICLES LIST*/
  /*INTERESTED*/
  /*INTERESTED*/
  /*SEARCH RESULTS*/
  .search_results-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /*SEARCH RESULTS*/
}
@media only screen and (min-width: 1024px) {
  /* -------- UI -------- */
  /*BASE*/
  :root {
    --section-bottom: 80px;
  }

  .centre.site_grid {
    display: flex;
  }

  .centre.site_grid > .left_menu {
    flex: 0 0 300px;
    width: 300px;
  }

  .centre.site_grid > .content {
    flex: 0 0 calc(100% - 300px);
    max-width: calc(100% - 300px);
    padding-left: 40px;
  }

  .pattern_tittle {
    margin-bottom: 30px;
    align-items: flex-end;
  }

  .pattern_tittle .H2,
.pattern_tittle h2 {
    font-size: 32px;
  }

  .pattern_tittle h1,
.pattern_tittle .H1 {
    font-size: 40px;
  }

  .pattern_tittle h1 + .pattern_box,
.pattern_tittle .H1 + .pattern_box {
    margin-bottom: 6px;
  }

  .pagination {
    padding-top: 40px;
  }

  /* ------ hover ------ */
  input[type=text]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=tel]:hover,
input[type=time]:hover,
input[type=date]:hover,
textarea:hover {
    background-color: var(--accent-color-7);
  }

  article a:hover {
    color: var(--accent-color-1);
  }

  a.sub_title:hover {
    opacity: 0.7;
  }

  .close_btn:hover::before,
.close_btn:hover::after {
    background-color: #EE3C30;
  }

  .btn:hover {
    color: var(--btn-text-hover);
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-border-hover);
  }

  .btn.btn_outline:hover {
    color: var(--btn-text-outline-hover);
    background-color: var(--btn-bg-outline-hover);
    border-color: var(--btn-border-outline-hover);
  }

  .dropdown_short:hover .drop_arrow {
    background-color: var(--accent-color-7);
  }

  .dropdown:hover .overflow {
    background-color: var(--accent-color-7);
  }

  .dropdown UL LI A:hover {
    background-color: var(--accent-color-6);
  }

  .dropdown_short ul li a:hover {
    background-color: #e6e6e6;
    color: initial;
  }

  .dropdown_alt .drop_arrow:hover {
    background-color: var(--accent-color-1);
  }

  .dropdown_alt UL LI A:hover {
    border-color: var(--accent-color-6);
  }

  .options_dropdown_list UL LI A:hover {
    color: var(--base-color-9);
  }

  .options_dropdown_tile UL LI A:hover {
    background-color: var(--accent-color-2);
    color: var(--base-color-1);
  }

  .options_dropdown_tile UL LI.disabled a:hover {
    background-color: var(--base-color-1);
    color: var(--text-color);
  }

  .dropdown.filled:hover {
    border-color: var(--accent-color-2);
  }

  .dropdown.filled:hover .overflow {
    background-color: var(--accent-color-2);
  }

  .up:hover {
    border-color: var(--accent-color-1);
  }

  .pagination ul a:hover {
    background-color: var(--accent-color-5);
  }

  .breadcrumbs ul a:hover {
    color: var(--accent-color-1);
  }

  /* ------ hover ------ */
  /*BASE*/
  /* -------- COMPONENTS -------- */
  /*SITE HEADER*/
  .top_header .site_name {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0;
  }

  .top_header .site_name-subtitle {
    font-size: 14px;
  }

  .top_header .request_call {
    padding-left: 24px;
    padding-right: 24px;
  }

  .top_catalog-list a {
    font-size: 16px;
  }

  /* ------ hover ------ */
  .header_info-email:hover {
    color: var(--text-color);
  }

  .header_info-email:hover .icon {
    fill: var(--text-color);
  }

  .top_menu-1lvl a:hover {
    color: var(--accent-color-1);
  }

  .selected_lang:hover {
    color: var(--accent-color-1);
  }

  .top_header .reservation .reservation_phones a:hover {
    color: var(--accent-color-1);
  }

  .top_catalog-list a:hover {
    color: var(--accent-color-1);
  }

  .toggle_lang-list a:hover {
    color: var(--accent-color-1);
  }

  /* ------ hover ------ */
  /*SITE HEADER*/
  /*SITE FOOTER*/
  .reservation_box .centre {
    justify-content: center;
  }

  .reservation_box {
    font-size: 18px;
    padding: 12px 0;
  }

  .reservation-title {
    margin-bottom: 0;
  }

  .reservation-title {
    padding-left: 15px;
    padding-right: 15px;
  }

  .reservation-item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .reservation-item + .reservation-item {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
  }

  .reservation-item span {
    font-size: 16px;
  }

  /* ------ hover ------ */
  .bottom_menu ul a:hover {
    color: var(--accent-color-1);
  }

  .rest_treatment a:hover {
    color: var(--accent-color-1);
    text-decoration: underline;
  }

  .site_footer .contract a:hover {
    text-decoration: underline;
  }

  .sufix-link a:hover {
    text-decoration: underline;
  }

  .reservation-item a:hover {
    opacity: 0.75;
  }

  /* ------ hover ------ */
  /*SITE FOOTER*/
  /*SEARCH BOX*/
  .centre.site_grid .left_menu .search_box {
    display: none;
  }

  .centre.site_grid .content .search_box {
    display: flex;
  }

  /*SEARCH BOX*/
  /*CATALOG 2-3 LVL*/
  .catalog_2-3lvl > li + li {
    margin-top: 20px;
  }

  .catalog_2-3lvl > li > ul {
    display: flex;
    margin-bottom: 0;
  }

  .catalog_2-3lvl > li > a {
    font-size: 16px;
    padding: 10px 16px;
  }

  .catalog_2-3lvl > li.has_drop > a {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 16px;
  }

  .catalog_2-3lvl > li.has_drop > a::before,
.catalog_2-3lvl > li.has_drop > a::after {
    display: none;
  }

  .catalog_2-3lvl > li > ul > li > a {
    font-size: 16px;
    padding: 10px 16px;
  }

  .catalog_2-3lvl > li > ul > li > a span.name {
    font-size: 16px;
  }

  /* ------ hover ------ */
  .catalog_2-3lvl > li > a:hover {
    color: var(--base-color-1);
    background-color: var(--accent-color-1);
  }

  .catalog_2-3lvl > li > ul > li > a:hover {
    color: var(--accent-color-1);
    background-color: var(--accent-color-6);
  }

  /* ------ hover ------ */
  /*CATALOG 2-3 LVL*/
  /*LAST NEWS*/
  .left_menu .last_news {
    display: flex;
  }

  .content .last_news {
    display: none;
  }

  .last_news .pattern_tittle .H2 {
    font-size: 22px;
  }

  .last_news-slider:not(.slick-initialized) .last_news-item {
    flex: 0 1 auto;
    margin-right: 0;
  }

  .last_news-slider {
    flex-direction: column;
    margin: -6px -12px -15px -12px;
    padding: 6px 12px 15px 12px;
    width: calc(100% + 24px);
    max-width: calc(100% + 24px);
  }

  .last_news-item {
    flex: 0 1 auto;
    width: 100%;
    margin-right: 0;
    margin-bottom: 16px;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0);
    transition: 0.3s;
  }

  .last_news-item figcaption {
    padding: 12px 16px;
  }

  .last_news-item time {
    font-size: 14px;
  }

  .last_news-title {
    font-size: 16px;
  }

  /* ------ hover ------ */
  .last_news-title:hover {
    color: var(--accent-color-1);
  }

  .last_news-item:hover {
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
  }

  /* ------ hover ------ */
  /*LAST NEWS*/
  /*SEARCH LEFT MENU*/
  .search_left-menu {
    margin-bottom: 40px;
  }

  .search_left-menu .pattern_tittle {
    margin-bottom: 18px;
  }

  .search_left-menu .pattern_tittle .H2 {
    font-size: 22px;
  }

  .search_left-inner > input[type=text] {
    height: 50px;
    padding-right: 60px;
  }

  .search_left-inner .btn {
    width: 50px;
    height: 50px;
  }

  .search_left-inner .btn .icon {
    width: 24px;
    height: 24px;
  }

  .search_result-counter {
    margin-top: -30px;
  }

  /* ------ hover ------ */
  /* ------ hover ------ */
  /*SEARCH LEFT MENU*/
  /*GRID SLIDER*/
  .grid_slider-slick .slick-list {
    padding: 6px 0 15px 12px;
    margin: -6px 0 -15px -12px;
  }

  .grid_slider-slick:not(.slick-initialized) {
    margin: -6px -20px -15px -12px;
    padding: 6px 0 15px 12px;
    width: calc(100% + 32px);
  }

  .grid_slider-slick.one-row:not(.slick-initialized) .grid_slider-slide {
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
  }

  .grid_slider-slide {
    margin-right: 20px;
  }

  .grid_slider-slick.two-rows:not(.slick-initialized) {
    grid-gap: 20px;
    width: calc(100% + 32px);
    margin: -6px -20px -15px -12px;
    padding: 6px 20px 15px 12px;
  }

  .grid_slider-slick.two-rows.slick-initialized .slick-slide > div + div {
    margin-top: 20px;
  }

  .grid_slider-slick.two-rows.slick-initialized .slick-slide {
    margin-right: 20px;
  }

  /* ------ hover ------ */
  .grid_slider-slide:hover {
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
  }

  .grid_slide-title:hover {
    color: var(--accent-color-1);
  }

  .grid_slide-link:hover {
    background-color: var(--accent-color-1);
    color: var(--base-color-1);
  }

  .grid_slide-link:hover::before {
    border-color: var(--base-color-1);
  }

  /* ------ hover ------ */
  /*GRID SLIDER*/
  /*MAIN ARTICLE*/
  .main_article time {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .article_content > * {
    margin-bottom: 30px;
  }

  /* ------ hover ------ */
  /* ------ hover ------ */
  /*MAIN ARTICLE*/
  /*READ MORE*/
  /* ------ hover ------ */
  .read_more-link:hover {
    background-color: var(--accent-color-1);
    color: var(--base-color-1);
  }

  .read_more-link:hover::before {
    border-color: var(--base-color-1);
  }

  /* ------ hover ------ */
  /*READ MORE*/
  /*POPUP BOX*/
  /* ------ hover ------ */
  /* ------ hover ------ */
  /*POPUP BOX*/
  /*RESORTS LIST*/
  /* ------ hover ------ */
  .resort_link:hover {
    color: var(--accent-color-2);
  }

  .resort_item:hover {
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.08);
  }

  /* ------ hover ------ */
  /*RESORTS LIST*/
  /*HOTEL DETAIL*/
  .tabs_list {
    height: 50px;
  }

  .tabs_list a {
    font-size: 16px;
    padding: 0 20px;
  }

  .hotel_location iframe {
    height: 400px;
  }

  .hotel_room {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 25px 20px;
  }

  .hotel_room + .hotel_room {
    margin-top: 20px;
  }

  .hotel_room-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .hotel_room-title {
    font-size: 22px;
  }

  .hotel_room-top.has_swipe .icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-left: auto;
  }

  .hotel_room-slider {
    margin-bottom: 20px;
  }

  .hotel_room-image {
    margin: 0 5px;
  }

  /* ------ hover ------ */
  .big_slider:hover .slick-arrow {
    opacity: 1;
  }

  .big_slider:hover .slick-arrow:hover {
    background-color: var(--accent-color-2);
  }

  .small_slider:hover .slick-arrow {
    opacity: 1;
  }

  .small_slider:hover .slick-arrow:hover {
    background-color: var(--accent-color-2);
  }

  .characteristics .open_map:hover {
    background-color: var(--accent-color-1);
    color: var(--base-color-1);
  }

  .characteristics .open_map:hover::before {
    border-color: var(--base-color-1);
  }

  .details_phones li a:hover {
    color: var(--accent-color-1);
  }

  .tabs_list a:not(.active):hover {
    background-color: var(--accent-color-6);
  }

  /* ------ hover ------ */
  /*HOTEL DETAIL*/
  /*ARTICLES LIST*/
  /* ------ hover ------ */
  .resort_filter a:not(.active):hover {
    background-color: var(--accent-color-5);
  }

  .article_item:hover {
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
  }

  .article_item-title:hover {
    color: var(--accent-color-1);
  }

  .article_item-link:hover {
    background-color: var(--accent-color-1);
    color: var(--base-color-1);
  }

  .article_item-link:hover::before {
    border-color: var(--base-color-1);
  }

  /* ------ hover ------ */
  /*ARTICLES LIST*/
  /*INTERESTED*/
  .left_menu .interested {
    display: flex;
  }

  .centre.site_grid > .content .interested {
    display: none;
  }

  /* ------ hover ------ */
  .interested_item:hover {
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
  }

  .interested_item-title:hover {
    color: var(--accent-color-1);
  }

  .interested_item-link:hover {
    background-color: var(--accent-color-1);
    color: var(--base-color-1);
  }

  .interested_item-link:hover::before {
    border-color: var(--base-color-1);
  }

  /* ------ hover ------ */
  /*INTERESTED*/
  /*SEARCH RESULTS*/
  .search_results-counter {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .search_results-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .search_results-img {
    padding-bottom: 80%;
  }

  /* ------ hover ------ */
  .search_results-item:hover {
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.08);
  }

  .search_results-title:hover {
    color: var(--accent-color-1);
  }

  /* ------ hover ------ */
  /*SEARCH RESULTS*/
}
@media only screen and (min-width: 1332px) {
  /* -------- UI -------- */
  /*BASE*/
  .up {
    right: 50%;
    transform: translateX(700px);
  }

  /*BASE*/
  /* -------- COMPONENTS -------- */
  /*SITE HEADER*/
  .top_header .site_name {
    font-size: 26px;
  }

  .reservation_phones a {
    font-size: 18px;
  }

  /*SITE HEADER*/
  /*FOOTER*/
  .reservation-item {
    padding-left: 35px;
    padding-right: 35px;
  }

  /*FOOTER*/
  /*SEARCH BOX*/
  /*SEARCH BOX*/
  /*CATALOG 2-3 LVL*/
  /*CATALOG 2-3 LVL*/
  /*LAST NEWS*/
  /*LAST NEWS*/
  /*SEARCH LEFT MENU*/
  /*SEARCH LEFT MENU*/
  /*GRID SLIDER*/
  /*GRID SLIDER*/
  /*MAIN ARTICLE*/
  /*MAIN ARTICLE*/
  /*READ MORE*/
  /*READ MORE*/
  /*POPUP BOX*/
  /*POPUP BOX*/
  /*RESORTS LIST*/
  /*RESORTS LIST*/
  /*HOTEL DETAIL*/
  .tabs_list {
    justify-content: center;
    overflow-x: unset;
  }

  .hotel_zoom-wrap .close_btn {
    right: 0;
    left: 100%;
  }

  /*HOTEL DETAIL*/
  /*ARTICLES LIST*/
  /*ARTICLES LIST*/
  /*INTERESTED*/
  /*INTERESTED*/
  /*SEARCH RESULTS*/
  .search_results-grid {
    grid-gap: 24px;
  }

  .search_results-item figcaption {
    padding: 12px;
  }

  .search_results-title {
    font-size: 16px;
  }

  /*SEARCH RESULTS*/
}
@media only screen and (min-width: 1364px) {
  .grid_slider-slick {
    width: calc(100% + 20px);
    margin-right: -20px;
  }
}