@charset "UTF-8";
/* -------- SERVICES -------- */
/*FONTS*/
/*FONTS*/
:root {
  --base-color-1: #ffffff;
  --base-color-2: #F6F6F6;
  --base-color-3: #EBECF2;
  --base-color-4: #CECFD9;
  --base-color-5: #AAAAB2;
  --base-color-6: #85858A;
  --base-color-7: #626366;
  --base-color-8: #333333;
  --base-color-9: #1E1E1E;
  --accent-color-1: #7A998C;
  --accent-color-2: #5A756A;
  --accent-color-3: #3B4C45;
  --accent-color-4: #C7D4CF;
  --accent-color-5: #DCE5E2;
  --accent-color-6: #EFF4F2;
  --accent-color-7: #F5F7F6;
  --additional-1: #C13055;
  --additional-2: #F2CBD5;
  --additional-3: #1A724D;
  --additional-4: #FEC601;
  --text-color: #1E1E1E;
  --site-bg-color: #F5F7F6;
  --btn-text: #ffffff;
  --btn-bg: #7A998C;
  --btn-border: #7A998C;
  --btn-text-hover: #ffffff;
  --btn-bg-hover: #5A756A;
  --btn-border-hover: #5A756A;
  --btn-text-active: #ffffff;
  --btn-bg-active: #3B4D45;
  --btn-border-active: #3B4D45;
  --btn-text-outline: #7A998C;
  --btn-bg-outline: transparent;
  --btn-border-outline: #7A998C;
  --btn-text-outline-hover: #ffffff;
  --btn-bg-outline-hover: #7A998C;
  --btn-border-outline-hover: #7A998C;
  --btn-text-outline-active: #ffffff;
  --btn-bg-outline-active: #5A756A;
  --btn-border-outline-active: #5A756A;
  --border-color: #CECFD9;
  --border-radius: 6px;
}

/*RESETS*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

menu,
ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*RESETS*/
/* -------- PLUGINS -------- */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track::before, .slick-track::after {
  content: "";
  display: table;
}
.slick-track::after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* -------- UI -------- */
/*BASE*/
BODY, HTML {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  width: 100%;
  min-width: 360px;
  height: 100%;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--site-bg-color);
}

body.overflow {
  overflow: hidden;
}

main {
  flex: 1 0 auto;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=time],
textarea {
  color: var(--text-color);
  font-size: 16px;
  padding: 0 20px;
  height: 50px;
  border: 1px solid var(--border-color);
  background-color: var(--base-color-1);
  border-radius: var(--border-radius);
  transition: 0.3s;
}

textarea {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100px;
  resize: none;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=number]:hover,
input[type=password]:hover,
input[type=tel]:hover,
input[type=time]:hover,
textarea:hover {
  background-color: var(--accent-color-7);
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=time]:focus,
textarea:focus {
  outline: none;
  background-color: var(--accent-color-7);
}

*.error > input[type=text],
*.error > input[type=email],
*.error > input[type=number],
*.error > input[type=password],
*.error > input[type=tel],
*.error > input[type=time],
*.error > textarea,
input[type=text].error,
input[type=email].error,
input[type=number].error,
input[type=password].error,
input[type=tel].error,
input[type=time].error,
textarea.error {
  border-color: var(--additional-1);
}

input[type=text]:disabled,
input[type=email]:disabled,
input[type=number]:disabled,
input[type=password]:disabled,
input[type=tel]:disabled,
input[type=time]:disabled,
textarea:disabled {
  pointer-events: none;
  background-color: var(--base-color-2);
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder,
input[type=password]::placeholder,
input[type=tel]::placeholder,
input[type=time]::placeholder,
textarea::placeholder {
  color: var(--base-color-5);
}

a {
  color: var(--accent-color-1);
}

a:hover {
  text-decoration: none;
}

article a {
  color: var(--accent-color-1);
  text-decoration: none;
  border-bottom: 1px solid var(--border-color);
  transition: 0.3s;
}

article a:hover {
  color: var(--link-color-active);
}

article ul,
article ol {
  padding-left: 26px;
}

article li {
  position: relative;
}

article ul li::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--text-color);
  border-radius: 50%;
  position: absolute;
  left: -13px;
  top: 7px;
}

article ol {
  list-style: auto;
}

article li + li {
  margin-top: 6px;
}

a:active {
  color: inherit;
  /* НЕ УДАЛЯТИ */
}

a.sub_title:hover {
  opacity: 0.7;
}

h1,
.H1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

h2,
.H2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 14px;
}

h3,
.H3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 12px;
}

h4,
.H4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 10px;
}

article > * {
  margin-bottom: 22px;
}

.centre {
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  max-width: 1332px;
}

.close_btn {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.close_btn::before,
.close_btn::after {
  content: "";
  width: 18px;
  height: 2px;
  background-color: var(--icon-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: background-color 0.3s;
}

.close_btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close_btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close_btn:hover::before,
.close_btn:hover::after {
  background-color: #EE3C30;
}

.shadow {
  font-size: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(32, 30, 80, 0.4);
  z-index: 10;
}

.hidden {
  display: none !important;
}

.site_shadow-style {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(39, 53, 47, 0.7);
  backdrop-filter: blur(5px);
}

/*btn*/
.btn {
  color: var(--btn-text);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 34px;
  padding: 5px 14px;
  background-color: var(--btn-bg);
  border: 2px solid var(--btn-border);
  border-radius: var(--border-radius);
  transition: 0.3s;
}

.btn:hover {
  color: var(--btn-text-hover);
  background-color: var(--btn-bg-hover);
  border-color: var(--btn-border-hover);
}

.btn:active {
  color: var(--btn-text-active);
  background-color: var(--btn-bg-active);
  border-color: var(--btn-border-active);
}

.btn.btn_outline {
  color: var(--btn-text-outline);
  background-color: var(--btn-bg-outline);
  border-color: var(--btn-border-outline);
}

.btn.btn_outline:hover {
  color: var(--btn-text-outline-hover);
  background-color: var(--btn-bg-outline-hover);
  border-color: var(--btn-border-outline-hover);
}

.btn.btn_outline:active {
  color: var(--btn-text-outline-active);
  background-color: var(--btn-bg-outline-active);
  border-color: var(--btn-border-outline-active);
}

.btn:disabled,
.btn.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.btn.big_btn {
  font-size: 16px;
  padding: 8px 24px;
  min-height: 44px;
}

.btn.small_btn {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 20px;
  min-height: 34px;
}

/*btn*/
/*dropdown*/
.dropdown {
  position: relative;
  height: 50px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  transition: 0.3s;
}

.dropdown.small {
  height: 36px;
}

.dropdown_short {
  width: 68px;
  height: 30px;
  margin: 0 20px;
  color: #1d1d1d;
}

.dropdown_short:hover .drop_arrow {
  background-color: #5ead5a;
}

.dropdown.dropdown-open {
  border-color: var(--accent-color-1);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown.dropdown_short.dropdown-open {
  width: 68px;
}

.dropdown .overflow {
  width: 100%;
  height: 100%;
  padding: 0 50px 0 0;
  background-color: #fff;
  position: relative;
  float: left;
  border-radius: 5px;
  transition: 0.3s;
}

.dropdown.small .overflow {
  padding-right: 32px;
}

.dropdown:hover .overflow {
  background-color: var(--accent-color-7);
}

.dropdown.dropdown-open .overflow {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown.short .overflow {
  width: 138px;
}

.dropdown.dropdown-open .overflow {
  z-index: 10;
}

.dropdown Span {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
  height: 100%;
  padding: 0 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  z-index: 2;
}

.dropdown.small Span {
  font-size: 14px;
  padding: 0 14px;
}

.dropdown_short Span {
  padding: 0 10px;
}

.dropdown UL {
  position: absolute;
  top: 48px;
  right: -1px;
  left: -1px;
  background: var(--base-color-1);
  border: 1px solid var(--border-color);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  z-index: 4;
  padding: 4px 0;
  margin: 0;
  max-height: 250px;
  overflow-y: auto;
  transition: border-top-color 0.3s;
  display: none;
}

.dropdown.small UL {
  top: 34px;
}

.dropdown.dropdown-open UL {
  border-top-color: var(--accent-color-1);
}

.dropdown_short ul {
  border: 1px solid #d7d7d7;
  border-radius: var(--border-radius);
  top: 28px;
  overflow: auto;
}

.dropdown UL LI {
  position: relative;
  float: left;
  background: none;
  width: 100%;
  font-size: 14px;
  line-height: 1.2;
}

.dropdown_short UL LI {
  border: none;
}

.dropdown UL LI A {
  width: 100%;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  float: left;
  padding: 8px 24px;
  transition: 0.3s;
}

.dropdown_short ul li a {
  color: #1d1d1d;
  text-align: center;
  padding: 6px 0;
}

.dropdown UL LI A:hover {
  background-color: var(--accent-color-6);
}

.dropdown UL LI.selected A {
  color: var(--accent-color-1);
  background-color: var(--accent-color-6);
}

.dropdown_short ul li a:hover {
  background-color: #e6e6e6;
  color: initial;
}

.dropdown UL LI A.selected {
  display: none;
}

.drop_arrow {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  transition: 0.3s;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

.dropdown.small .drop_arrow {
  width: 34px;
  height: 34px;
}

.dropdown.dropdown-open .drop_arrow {
  border-bottom-right-radius: 0;
}

.drop_arrow::after,
.drop_arrow::before {
  content: "";
  width: 1px;
  height: 8px;
  background-color: var(--accent-color-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: bottom;
  transition: 0.3s;
}

.drop_arrow::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.drop_arrow::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.dropdown.dropdown-open .drop_arrow::after {
  transform-origin: top;
  transform: translate(-50%, -50%) rotate(45deg);
}

.dropdown.dropdown-open .drop_arrow::before {
  transform-origin: top;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.dropdown_short .drop_arrow {
  right: -1px;
  top: -1px;
  background-color: #70c46a;
  border-radius: 0 3px 3px 0;
  width: 31px;
  height: 30px;
}

.dropdown_alt {
  width: 100%;
  height: 50px;
  color: #504f4f;
}

.dropdown_alt span {
  font-size: 16px;
}

.dropdown_alt .drop_arrow {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #73c86d;
  width: 50px;
  height: 50px;
  right: -1px;
  top: -1px;
}

.dropdown_alt .drop_arrow:hover {
  background-color: var(--main-active-color);
}

.dropdown_alt .drop_arrow:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 8px 0 8px;
  border-color: #fff transparent transparent transparent;
  margin: -5.5px 0 0 -8px;
}

.dropdown_alt ul {
  border: none;
  top: calc(100% + 1px);
  padding: 4px 0;
}

.dropdown_alt UL LI {
  font-size: 16px;
  border: none;
}

.dropdown_alt UL LI A {
  font-size: 14px;
  background-color: var(--base-color-1);
  color: var(--text-color);
  padding: 8px 24px;
}

.dropdown_alt UL LI A:hover {
  border-color: var(--accent-color-6);
}

.dropdown_alt.dropdown-open {
  width: initial;
}

.dropdown_alt.dropdown-open .drop_arrow {
  border-bottom-right-radius: 0;
}

.dropdown_sm {
  background-color: var(--base-color-1);
  height: 45px;
}

.dropdown_sm .drop_arrow {
  width: 45px;
  height: 45px;
}

.dropdown_sm .drop_arrow:after {
  border-width: 8px 6px 0 6px;
  border-color: var(--base-color-1) transparent transparent transparent;
  margin: -4px 0 0 -6px;
}

.options_dropdown_list UL LI {
  position: relative;
  padding: 0 0 0 10px;
}

.options_dropdown_list UL LI:before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--base-color-9);
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 11px;
}

.options_dropdown_list UL LI A {
  text-decoration: none;
  color: var(--accent-color-1);
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.options_dropdown_list UL LI A:hover {
  color: var(--base-color-9);
}

.options_dropdown_tile UL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0 0;
}

.options_dropdown_tile UL LI {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0 3px 3px 0;
}

.options_dropdown_tile UL LI A {
  text-decoration: none;
  background-color: var(--base-color-1);
  color: var(--base-color-9);
  padding: 5px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.options_dropdown_tile UL LI A:hover {
  background-color: var(--accent-color-2);
  color: var(--base-color-1);
}

.options_dropdown_tile UL LI.disabled {
  opacity: 0.5;
}

.options_dropdown_tile UL LI.disabled a {
  cursor: default;
}

.options_dropdown_tile UL LI.disabled a:hover {
  background-color: var(--base-color-1);
  color: var(--text-color);
}

.dropdown.disabled {
  pointer-events: none;
}

.dropdown.disabled .overflow {
  background-color: var(--accent-color-7);
}

.dropdown.disabled .overflow Span {
  color: var(--base-color-4);
}

.dropdown.disabled .drop_arrow::after,
.dropdown.disabled .drop_arrow::before {
  background-color: var(--base-color-4);
}

.dropdown.filled {
  border-color: var(--accent-color-1);
}

.dropdown.filled .overflow {
  background-color: var(--accent-color-1);
}

.dropdown.filled .overflow Span {
  color: var(--base-color-1);
}

.dropdown.filled .drop_arrow::after,
.dropdown.filled .drop_arrow::before {
  background-color: var(--base-color-1);
}

.dropdown.filled:hover,
.dropdown.filled.dropdown-open {
  border-color: var(--accent-color-2);
}

.dropdown.filled:hover .overflow,
.dropdown.filled.dropdown-open .overflow {
  background-color: var(--accent-color-2);
}

.dropdown.filled.dropdown-open UL {
  border-top-color: var(--accent-color-2);
}

.dropdown.filled.disabled {
  border-color: var(--accent-color-5);
}

.dropdown.filled.disabled .overflow {
  background-color: var(--accent-color-5);
}

/*dropdown*/
/*icon*/
.icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: var(--base-color-9);
}

/*icon*/
/*styled input*/
.styled_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.styled_label {
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);
  margin-bottom: 6px;
}

.styled_label i {
  color: var(--additional-1);
  font-style: normal;
  margin-left: 4px;
}

.styled_box {
  position: relative;
  width: 100%;
}

.styled_box input,
.styled_box textarea {
  width: 100%;
}

.input_icon {
  display: none;
  position: absolute;
  top: 14px;
  right: 16px;
  pointer-events: none;
}

.styled_box input.error + .input_icon,
.styled_box textarea.error + .input_icon {
  display: block;
}

.styled_box input.error,
.styled_box textarea.error {
  padding-right: 44px;
}

.styled_box input.error + .input_icon img.error_icon,
.styled_box textarea.error + .input_icon img.error_icon {
  display: block;
}

.styled_info {
  font-size: 12px;
  color: var(--text-color);
  margin-top: 2px;
}

.styled_info.error {
  color: var(--additional-1);
}

/*styled input*/
/*BASE*/
/* -------- COMPONENTS -------- */
/*SITE HEADER*/
.site_header {
  width: 100%;
  margin-bottom: 20px;
  padding: 56px 0 10px 0;
  background-color: var(--base-color-1);
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.08);
}

.header_info-row {
  display: none;
}

.top_header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--base-color-1);
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0);
  transition: 0.3s;
  z-index: 11;
}

.top_header.shadow {
  box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.08);
}

.top_header > .centre {
  display: flex;
  align-items: flex-start;
}

.top_mob-logo {
  flex: 0 0 36px;
  display: block;
  width: 36px;
  height: 36px;
}

.top_mob-logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.top_header-text {
  text-decoration: none;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.top_header .site_name {
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 2px;
  font-weight: 500;
  font-size: 16px;
}

.top_header .site_name-subtitle {
  font-size: 9px;
  font-weight: 400;
  color: var(--base-color-5);
}

.top_header-btn {
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: var(--accent-color-5);
  position: relative;
}

.top_header-btn.active {
  background-color: var(--accent-color-1);
}

.top_header-btn.open-mob_menu {
  margin-left: 16px;
}

.top_header-btn .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--accent-color-1);
  transition: 0.3s;
}

.top_header-btn.active .icon {
  fill: var(--base-color-1);
}

.top_header-btn.open-mob_menu .icon.close_icon {
  opacity: 0;
}

.top_header-btn.open-mob_menu.active .icon.close_icon {
  opacity: 1;
}

.top_header-btn.open-mob_menu.active .icon.menu_icon {
  opacity: 0;
}

.top_header-btn.open-mob_phones .icon.close_icon {
  opacity: 0;
}

.top_header-btn.open-mob_phones.active .icon.close_icon {
  opacity: 1;
}

.top_header-btn.open-mob_phones.active .icon.phone_icon {
  opacity: 0;
}

.top_header .reservation {
  display: none;
}

.top_header .request_call {
  display: none;
}

.mob_catalog-gtn {
  font-size: 14px;
  text-decoration: none;
  color: var(--base-color-1);
  display: flex;
  align-items: center;
  padding: 10px 26px 10px 16px;
  background-color: var(--accent-color-2);
  border-radius: var(--border-radius);
  position: relative;
}

.top_catalog.active .mob_catalog-gtn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.mob_catalog-gtn .icon {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.mob_catalog-gtn::before,
.mob_catalog-gtn::after {
  content: "";
  width: 1px;
  height: 8px;
  background-color: var(--base-color-1);
  position: absolute;
  top: 50%;
  right: 18px;
  transform-origin: bottom;
  transition: 0.3s;
}

.mob_catalog-gtn::before {
  transform: translateY(-50%) rotate(-45deg);
}

.mob_catalog-gtn::after {
  transform: translateY(-50%) rotate(45deg);
}

.top_catalog.active .mob_catalog-gtn::before {
  transform-origin: top;
  transform: translateY(-50%) rotate(45deg);
}

.top_catalog.active .mob_catalog-gtn::after {
  transform-origin: top;
  transform: translateY(-50%) rotate(-45deg);
}

.top_catalog-list {
  color: var(--base-color-1);
  display: none;
  flex-direction: column;
  padding: 5px 14px;
  background-color: var(--accent-color-1);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.top_catalog.active .top_catalog-list {
  display: flex;
}

.top_catalog-list li {
  display: flex;
}

.top_catalog-list li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.top_catalog-list a {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding: 5px 0;
  color: var(--base-color-1);
}

.top_catalog-list a span {
  display: block;
}

.top_catalog-list > li > a.active > span {
  color: var(--additional-4);
  border-bottom: 1px solid var(--additional-4);
}

.mobile_menu {
  font-size: 16px;
  position: fixed;
  top: 56px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 16px 32px 16px;
  width: 100%;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  background-color: var(--accent-color-7);
  border-top: 1px solid var(--accent-color-4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.mobile_menu.active {
  opacity: 1;
  visibility: visible;
}

.mobile-change_lang {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid var(--accent-color-4);
}

.mobile-change_lang a {
  text-decoration: none;
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  text-align: center;
  border-radius: var(--border-radius);
  flex: 1 1 auto;
}

.mobile-change_lang a.active {
  background-color: var(--accent-color-5);
}

.mobile-change_lang a .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.mob-top_menu {
  margin-bottom: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--accent-color-4);
}

.mob-top_menu > li {
  display: block;
  border-radius: var(--border-radius);
  transition: 0.3s;
}

.mob-top_menu > li.has_drop.opened {
  background-color: var(--base-color-1);
}

.mob-top_menu a {
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  color: var(--text-color);
  display: block;
  padding: 8px;
  position: relative;
  transition: 0.3s;
}

.mob-top_menu a span {
  display: block;
}

.mob-top_menu a.active span {
  color: var(--accent-color-1);
  border-bottom: 1px solid var(--accent-color-1);
}

.mob-top_menu > li.has_drop > a {
  padding-right: 28px;
}

.mob-top_menu > li.has_drop.opened > a {
  font-weight: 600;
}

.mob-top_menu > li.has_drop > a::before,
.mob-top_menu > li.has_drop > a::after {
  content: "";
  width: 1px;
  height: 7px;
  background-color: var(--accent-color-1);
  position: absolute;
  top: 50%;
  right: 16px;
  transform-origin: bottom;
  transition: 0.3s;
}

.mob-top_menu > li.has_drop > a::before {
  transform: translateY(-50%) rotate(-45deg);
}

.mob-top_menu > li.has_drop > a::after {
  transform: translateY(-50%) rotate(45deg);
}

.mob-top_menu > li.has_drop.opened > a::before {
  transform-origin: top;
  transform: translateY(-50%) rotate(45deg);
}

.mob-top_menu > li.has_drop.opened > a::after {
  transform-origin: top;
  transform: translateY(-50%) rotate(-45deg);
}

.mob-top_menu > li > ul {
  padding-left: 12px;
  display: none;
}

.mob-top_menu > li.has_drop.opened > ul {
  display: block;
}

.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  margin-top: auto;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--accent-color-4);
}

.reservation_name {
  font-size: 14px;
  text-align: center;
  color: var(--base-color-6);
  margin-bottom: 8px;
}

.reservation_phones {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.reservation_phones a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 14px;
  margin: 0 5px 12px 5px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.reservation_phones a .icon {
  margin-right: 10px;
  fill: var(--accent-color-1);
}

.reservation .btn {
  min-width: 246px;
}

.mob-menu_email {
  font-size: 14px;
  color: var(--accent-color-1);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.mob-menu_email .icon {
  fill: var(--accent-color-1);
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.black {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(39, 53, 47, 0.7);
  backdrop-filter: blur(5px);
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}

.black.hidden {
  display: block !important;
  opacity: 0;
  visibility: hidden;
}

.reservation-popup {
  font-size: 16px;
  position: fixed;
  top: 56px;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 10px 16px 16px 16px;
  width: 100%;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  background-color: var(--accent-color-7);
  border-top: 1px solid var(--accent-color-4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.reservation-popup.active {
  opacity: 1;
  visibility: visible;
}

.reservation-popup_name {
  text-align: center;
  font-size: 14px;
  color: var(--base-color-6);
  margin-bottom: 16px;
}

.reservation-popup_phones {
  margin-bottom: 25px;
}

.reservation-popup_phones li {
  display: flex;
  justify-content: center;
}

.reservation-popup_phones li + li {
  margin-top: 16px;
}

.reservation-popup_phones a {
  text-decoration: none;
  font-size: 18px;
  color: var(--text-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation-popup_phones a .icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

/*SITE HEADER*/
/*SITE FOOTER*/
/*SITE FOOTER*/