/*GRID SLIDER*/
.grid_slider {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--section-bottom);
}

.grid_slider-slick {
  width: calc(100% + 16px);
  margin-right: -16px;
}

.grid_slider-slick:not(.slick-initialized) {
  display: flex;
  overflow: hidden;
}

.grid_slider-slick .slick-track {
  display: flex;
}

.grid_slider-slide {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
  flex: 0 0 272px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--base-color-1);
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.0);
  transition: 0.3s;
}


.grid_slide-img {
  display: block;
  padding-bottom:  75%;
  width: 100%;
  height: 0;
  position: relative;
}

.grid_slide-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.grid_slider-slide figcaption,
.grid_slider-slide .figcaption {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 8px 10px 16px 10px;
}

.grid_slide-time {
  font-size: 12px;
  line-height: 1.3;
  color: var(--base-color-6);
  display: flex;
  align-content: center;
  margin-bottom: 10px;
}

.grid_slide-time .icon {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.grid_slide-title {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.3;
  color: var(--text-color);
  margin-bottom: 6px;
  transition: 0.3s
}

.grid_slide-title.center-pos {
  text-align: center;
}



.grid_slide-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1.3;
  color: var(--base-color-6);
  margin-bottom: 23px;
}

.grid_slide-link {
  text-decoration: none;
  font-size: 12px;
  line-height: 1;
  color: var(--accent-color-1);
  align-self: flex-start;
  margin-top: auto;
  padding: 3px 22px 3px 6px;
  background-color: var(--accent-color-6);
  position: relative;
  transition: 0.3s;
}


.grid_slide-link::before {
  content: "";
  width: 6px;
  height: 6px;
  border-right: 1px solid var(--accent-color-1);
  border-bottom: 1px solid var(--accent-color-1);
  position: absolute;
  top: 50%;
  right: 9px;
  transform: translateY(-50%) rotate(-45deg);
  transition: 0.3s;
}

.grid_slider-slick.two-rows .grid_slider-slide {
  flex: 0 0 214px;
}

.grid_slider-slick.two-rows .grid_slide-img {
  padding-bottom: 94%;
}

.grid_slider-slick.two-rows .grid_slide-title.center-pos {
  margin-bottom: 0;
}


/*GRID SLIDER*/
