/*STYLED INPUT*/
.styled_input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.styled_label {
  font-size: 16px;
  line-height: 1.4;
  color: var(--text-color);
  margin-bottom: 6px;
}

.styled_label i {
  color: var(--additional-1);
  font-style: normal;
  margin-left: 4px;
}

.styled_box {
  position: relative;
  width: 100%;
}

.styled_box input,
.styled_box textarea {
  width: 100%;
}

.input_icon {
  display: none;
  position: absolute;
  top: 14px;
  right: 16px;
  pointer-events: none;
}

.styled_box input.error + .input_icon,
.styled_box textarea.error  + .input_icon {
  display: block;
}

.styled_box input.error,
.styled_box textarea.error {
  padding-right: 44px;
}

.styled_box input.error + .input_icon img.error_icon,
.styled_box textarea.error  + .input_icon img.error_icon {
  display: block;
}

.styled_info {
  font-size: 12px;
  color: var(--text-color);
  margin-top: 2px;
}

.styled_info.error {
  color: var(--additional-1);
}


/*STYLED INPUT*/
